<app-header></app-header>
<div class="mt-20">
    <mat-card appearance="outlined" class="mx-8">
        @if(cartItems().length){
        <mat-card-content class="">
            @for(item of cartItems(); track item){
            <div class=" grid lg:grid-cols-3 py-8 ">
                <div class="lg:w-[60%] w-1/2 lg:m-auto">
                    <img [src]="item.image" alt="{{ item.title }}" class="object-contain">
                </div>
                <div class="space-y-2 ">
                    <p class="text-2xl font-semibold"> <span> {{ item.title }}</span></p>
                    <p class=" grid grid-cols-2"><span class="font-bold">Brand: </span><span>{{ item.brand }}</span></p>
                    <p class=" grid grid-cols-2"><span class="font-bold">Discount Price: </span><span>₹ {{ item.discountPrice.toFixed(2) }}</span></p>
                    <p class=" grid grid-cols-2"><span class="font-bold">Total Price: </span><span>₹ {{ (item.discountPrice * item.quantity).toFixed(2)}}</span></p>
                </div>
                <div class="flex flex-col items-center space-y-4">
                    <span class="text-xl font-semibold">Quantity</span>
                    <div class="flex items-center space-x-4">
                        <button mat-raised-button (click)="decreaseQuantity(item)">Minus</button>
                        <span class="text-xl">{{ item.quantity }}</span>
                        <button mat-raised-button (click)="increaseQuantity(item)">Plus</button>
                    </div>
                    <button mat-raised-button color="warn" (click)="removeFromCart(item)">
                        Remove <mat-icon>remove_shopping_cart</mat-icon>
                    </button>
                </div>
            </div>
            }
            <mat-card-footer class="lg:flex justify-around	my-12">
                <div class="text-xl font-bold text-[#bb2a26]" >
                    Total Cart Value: ₹{{ totalCartValue() }}
                </div>
                <button mat-flat-button color="warn" (click)="placeOrder()" class="mt-4"> 
                    Place Order
                    <mat-icon>local_shipping</mat-icon>
                </button>
            </mat-card-footer>
        </mat-card-content>

        }   
        @else{
        <img src="assets/emptycart.jpg" alt="" class="m-auto rounded-xl h-[50%] max-w-[50%]">
        }
    </mat-card>


</div>