<div class="bg-gray-800 p-8 text-xs leading-6  gap-7">
    <div class="flex">
        <div class="container mx-auto grid grid-cols-1 md:grid-cols-4 gap-8">
            <!-- ABOUT Section -->
            <div>
                <span class="font-semibold text-gray-400 text-xs mb-4">ABOUT</span>
                <ul>
                    <li><a href="#" class="text-white hover:text-white">Contact Us</a></li>
                    <li><a href="#" class="text-white hover:text-white">About Us</a></li>
                    <li><a href="#" class="text-white hover:text-white">Careers</a></li>
                    <li><a href="#" class="text-white hover:text-white">Flipkart Stories</a></li>
                    <li><a href="#" class="text-white hover:text-white">Press</a></li>
                    <li><a href="#" class="text-white hover:text-white">Flipkart Wholesale</a></li>
                    <li><a href="#" class="text-white hover:text-white">Corporate Information</a></li>
                </ul>
            </div>

            <!-- HELP Section -->
            <div>
                <span class="font-semibold text-gray-400 text-xs mb-4">HELP</span>
                <ul>
                    <li><a href="#" class="text-white hover:text-white">Payments</a></li>
                    <li><a href="#" class="text-white hover:text-white">Shipping</a></li>
                    <li><a href="#" class="text-white hover:text-white">Cancellation & Returns</a></li>
                    <li><a href="#" class="text-white hover:text-white">FAQ</a></li>
                    <li><a href="#" class="text-white hover:text-white">Report Infringement</a></li>
                </ul>
            </div>

            <!-- CONSUMER POLICY Section -->
            <div>
                <span class="font-semibold text-gray-400 text-xs mb-4">CONSUMER POLICY</span>
                <ul>
                    <li><a href="#" class="text-white hover:text-white">Return Policy</a></li>
                    <li><a href="#" class="text-white hover:text-white">Terms Of Use</a></li>
                    <li><a href="#" class="text-white hover:text-white">Security</a></li>
                    <li><a href="#" class="text-white hover:text-white">Privacy</a></li>
                    <li><a href="#" class="text-white hover:text-white">Sitemap</a></li>
                    <li><a href="#" class="text-white hover:text-white">Grievance Redressal</a></li>
                    <li><a href="#" class="text-white hover:text-white">EPR Compliance</a></li>
                </ul>
            </div>

            <!-- SOCIAL Section -->
            <div>
                <span class="font-semibold text-gray-400 text-xs mb-4">SOCIAL</span>
                <ul>
                    <li><a href="#" class="text-white hover:text-white">Facebook</a></li>
                    <li><a href="#" class="text-white hover:text-white">Twitter</a></li>
                    <li><a href="#" class="text-white hover:text-white">YouTube</a></li>
                </ul>
            </div>
        </div>

        <!-- Mail Us and Registered Office Section -->
        <div class="container mx-auto grid grid-cols-1 md:grid-cols-2 gap-8 text-white">
            <div>
                <span class="font-semibold text-gray-400 text-xs">Mail Us:</span>
                <br>
                <span>Flipkart Internet Private Limited,<br> Buildings Alyssa, Begonia & Clove Embassy Tech Village,<br>
                    Outer Ring Road, Devarabeesanahalli Village,<br> Bengaluru, 560103,<br> Karnataka, India</span>
            </div>
            <div>
                <span class="font-semibold text-gray-400 text-xs">Registered Office Address:</span>
                <br>
                <span>Flipkart Internet Private Limited,<br> Buildings Alyssa, Begonia & Clove Embassy Tech Village,<br>
                    Outer Ring Road, Devarabeesanahalli Village,<br> Bengaluru, 560103,<br> Karnataka, India<br> CIN:
                    U51109KA2012PTC066107<br> Telephone: 044-45614700</span>
            </div>
        </div>

    </div>
<hr class="border-gray-400 mt-8"/>
    <!-- Bottom Links -->
    <div class="container mx-auto flex flex-wrap items-center justify-between mt-8 text-white">
            <a href="#" class="flex items-center space-x-1">
                <img src="assets/footer/seller.png" alt="seller">
                <span>Become a Seller</span>
            </a>
            <a href="#" class="flex items-center space-x-1">
                <img src="assets/footer/advertise.png" alt="Advertise">
                <span>Advertise</span>
            </a>
            <a href="#" class="flex items-center space-x-1">
                <img src="assets/footer/giftCard.png" alt="giftcards">
                <span>Gift Cards</span>
            </a>
            <a href="#" class="flex items-center space-x-1">
                <img src="assets/footer/help.png" alt="help">
                <span>Help Center</span>
            </a>
        <span class="mt-4 md:mt-0">&copy; 2007-2023 Flipkart.com</span>
        <div class="flex space-x-2 mt-4 md:mt-0">
            <img src="assets/footer/payment.png" alt="Visa">
        </div>
    </div>
</div>