<!-- category-bar.component.html -->
<div class=" hidden md:flex items-center justify-around py-4 bg-white shadow mt-24 mx-8 px-16">
    <div class="flex flex-col items-center">
      <img src="assets/grocery.png" alt="Grocery" class="w-16 h-16">
      <span class="mt-1 text-sm font-medium	">Grocery</span>
    </div>
    <div class="flex flex-col items-center">
      <img src="assets/mobiles.png" alt="Mobiles" class="w-16 h-16">
      <span class="mt-1 text-sm font-medium	">Mobiles</span>
    </div>
    <div class="flex flex-col items-center">
      <img src="assets/fashion.png" alt="Fashion" class="w-16 h-16">
      <span class="mt-1 text-sm font-medium	">Fashion</span>
    </div>
    <div class="flex flex-col items-center">
      <img src="assets/electronics.png" alt="Electronics" class="w-16 h-16">
      <span class="mt-1 text-sm font-medium	">Electronics</span>
    </div>
    <div class="flex flex-col items-center">
      <img src="assets/home.png" alt="Home" class="w-16 h-16">
      <span class="mt-1 text-sm font-medium	">Home</span>
    </div>
    <div class="flex flex-col items-center">
      <img src="assets/appliances.png" alt="Appliances" class="w-16 h-16">
      <span class="mt-1 text-sm font-medium	">Appliances</span>
    </div>
    <div class="flex flex-col items-center">
      <img src="assets/travel.png" alt="Travel" class="w-16 h-16">
      <span class="mt-1 text-sm font-medium	">Travel</span>
    </div>
    <div class="flex flex-col items-center">
      <img src="assets/top-offers.png" alt="Top Offers" class="w-16 h-16">
      <span class="mt-1 text-sm font-medium	">Top Offers</span>
    </div>
    <div class="flex flex-col items-center">
      <img src="assets/beauty-toys.png" alt="Beauty, Toys & More" class="w-16 h-16">
      <span class="mt-1 text-sm font-medium	">Beauty, Toys & More</span>
    </div>
    <div class="flex flex-col items-center">
      <img src="assets/two-wheelers.png" alt="Two Wheelers" class="w-16 h-16">
      <span class="mt-1 text-sm font-medium	">Two Wheelers</span>
    </div>
  </div>
  